<!--daily motivational quote that is updated daily-->
<%- include('partials/header') -%>

<div class="motivational-quote">
    <div class="motivational-quote__text">
        <p class="motivational-quote__text--quote">"{{quote}}"</p>
        <p class="motivational-quote__text--author">- {{author}}</p>
    </div>
    <div class="motivational-quote__button">
        <button class="motivational-quote__button--new-quote">New Quote</button>
    </div>
</div>

<%- include('partials/footer') -%>