<!--daily motivational quote that is updated daily-->
<%- include('partials/header') -%>

<div class="motivational-quote">
    <div class="motivational-quote__text">
        <!--        // the response format-->
        <!--        // q = quote text-->
        <!--        // a = author name-->
        <!--        // i = author image (key required)-->
        <!--        // c = character count-->
        <!--        // h = pre-formatted HTML quote-->

        <p><%- quote.q %></p>
        <p><%- quote.a %></p>
    </div>



</div>

<%- include('partials/footer') -%>