<%- include('partials/header') -%>
<div class="container">
    <div class="edit-profile row justify-content-center">
        <div class="mb-3 col-lg-4 col-md-6 col-sm-4">
            <label for="file" class="form-label">Profile Picture Upload</label>
            <form action="/post/createProfilePic" enctype="multipart/form-data" method="POST">
                <input type="file" class="form-control" id="imageUpload" name="file">
                <button type="submit" class="btn btn-primary mt-2">Upload</button>
            </form>
            <label for="email" class="mt-4 form-label">Change Password</label>
            <form role="form" method="POST" action="/edit-profile">
                <div class="input-group">
                    <label for="newPassword">
                        <input class="form-control" id="newPassword" name="newPassword" value="" placeholder="Enter the New Password"
                            type="password">
                    </label>
                </div>
                <div class="pull-right">
                    <button type="submit" name="Submit" value="Save" class="mt-2 btn btn-danger"><i class="livicon" data-n="pen" data-s="16"
                            data-c="#fff" data-hc="0"></i> Save</button>
                    <button type="reset" name="Reset" value="Clear" class="mt-2 btn btn-primary"><i class="livicon" data-n="trash"
                            data-s="16" data-c="#fff" data-hc="0"></i> Clear</button>
                </div>
            </form>
            
        </div>
    </div>
</div>

<%- include('partials/footer') -%>