<div class="mt-3">
    <div class="mb-3">
        <label for="file" class="form-label">Profile Picture Upload</label>
        <form action="/post/createProfilePic" enctype="multipart/form-data" method="POST">
            <input type="file" class="form-control" id="imageUpload" name="file">
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>