<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-center mt-5">
        <a href="/login" class="col-md-2 mt-3 m-1 btn btn-primary"> Login</a>
        <a href="/signup" class="col-md-2 mt-3 m-1 btn btn-primary"> Signup</a>
</main>

<%- include('partials/footer') -%>