body, html {
    overflow-x: hidden;
}

.header-container {
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(400px, 500px) minmax(200px, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.header-container>div {
    text-align: center;
    padding: 1em;
}

h1 a {
    text-decoration: none;
    color: #000;
}

.gratitude-center {
    grid-column: 2;
}

.feed-container {
    display: grid;
}

.button-container {
    /* top right corner */
    position: absolute;
    top: 10px;
    right: 15px;
}


#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 32px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(31, 125, 252);
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #000000;
    color:rgb(31, 125, 252);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 2;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: rgb(31, 125, 252);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu__box {
        width: 150px
    }
}

.motivational-quote {
    display: flex;
    justify-content: center;
    margin: 3em auto;
    padding: 1em;
}

.the-quote {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.the-author {
    font-size: 1em;
    font-style: italic;
    text-align: right;
    color: #000;
}

