body, html {
    overflow-x: hidden;
}
/* header */
.header-container {
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(400px, 500px) minmax(200px, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.header-container>div {
    text-align: center;
    padding: 1em;
}

h1 a {
    text-decoration: none;
    /* color: #000; */
}

.gratitudeTitle{
    color:rgb(31, 125, 252)
}


.gratitude-center {
    grid-column: 2;
}

.feed-container {
    display: grid;
}

.button-container {
    /* top right corner */
    position: absolute;
    top: 10px;
    right: 15px;
}

#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 32px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(31, 125, 252);
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #000000;
    color:rgb(31, 125, 252);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 2;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: rgb(31, 125, 252);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle {
    display: none;
}


/* mobile */
@media screen and (max-width: 768px) {
    .menu__box {
        width: 100%;
    }
    .header-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: rgb(255, 255, 255);
        color:rgb(31, 125, 252);
        z-index: 1;
    }
    .name-and-pic {
        margin-top: 4em;
        margin-bottom: 1em;
    }
    .index-login-container {
        margin-top: 5em;
        padding: 0 1.5em 0 1.5em;
    }
    .login-container {
        margin-top: 5em;
        padding: 0 1.5em 0 1.5em;
    }
    .forgot-password-form {
        margin-top: 5em;
        padding: 0 1.5em 0 1.5em;
    }
    .signup-form {
        margin-top: 5em;
        padding: 0 1.5em 0 1.5em;
    }

    /* Fix the margin-top for signup-form  for chrome */
    @media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio:0) {
        .signup-form {
            margin-top: 5em;
        }
    }
}

/* Login Page */
.forgotPasswordLink {
    color: rgb(126, 126, 126);
}

.submitAndForgotPasswordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitAndForgotPassword {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.loginSubmitBtn {
    width: 100%;
    margin: 1em 0 .5em 0;
}



/* Motivation page */
.motivational-quote {
    display: flex;
    justify-content: center;
    margin: 5em auto;
    padding: 1em;
}

.the-quote {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.the-author {
    font-size: 1em;
    font-style: italic;
    text-align: right;
    color: #000;
}

.img-fluid {
    max-width: 100%;
    height: 15em;
}


/* Profile Page */
.name-and-pic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.userName {
    display: flex;
    flex-wrap: wrap;
    padding-top: .25em;
}

.profilePictureImage {
    display: flex;
    flex-wrap: wrap;
}

.profilePictureImage img {
    width: 10em;
    height: 10em;
    /* border-radius: 50%; */
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .edit-profile {
        margin-top: 5em;
    }
}

.clear-btn {
    background-color: white;
}

.alert-danger {
    width: 21em;
}

.img-preview {
    margin-top: 0.5rem;
}

.img-preview img {
    max-height: 8rem;
}

.input-group .input-group-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.card-header,
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h5 {
    margin-bottom: 0;
}

.card-header p {
    margin-bottom: 0;
    font-size: 0.8rem;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
}
