.header-container {
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(400px, 500px) minmax(200px, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.header-container>div {
    text-align: center;
    padding: 1em;
}

.gratitude-center {
    grid-column: 2;
}

.feed-container {
    display: grid;
}

.button-container {
    /* top right corner */
    position: absolute;
    top: 10px;
    right: 10px;
}